:root {
  --txt-bg-color: color-mix(in srgb, transparent, white 5%);
}
.italico {
  font-style: italic;
}
.texto {
  background-color: color-mix(in srgb, transparent, white 85%);
  justify-content: center;
  text-align: justify;
  flex: 1;
  max-width: fit-content;
  font-family: "Times New Roman";
}
.background {
  position: absolute;
}

.texto p {
  background-color: transparent;
}

.imagens {
  max-width: 25%;
  flex: 1;
  border-radius: 10px;
  object-fit: contain;
}
.boximagem img {
  padding: 1.5rem;
}
.boximagem {
  background-color: color-mix(in srgb, transparent, white 85%);
  border-radius: 25px;
}
